/* Error: Undefined variable.
 *    ,
 * 88 |                 background: $menuitemFocusBg;
 *    |                             ^^^^^^^^^^^^^^^^
 *    '
 *   public/theme/theme-base/_mixins.scss 88:17                      menuitem-link()
 *   public/theme/theme-base/components/menu/_contextmenu.scss 23:3  @import
 *   public/theme/theme-base/_components.scss 79:13                  @import
 *   public/theme/theme-dim/purple/theme.scss 19:9                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 88 \2502                  background: $menuitemFocusBg;\a    \2502                              ^^^^^^^^^^^^^^^^\a    \2575 \a   public/theme/theme-base/_mixins.scss 88:17                      menuitem-link()\a   public/theme/theme-base/components/menu/_contextmenu.scss 23:3  @import\a   public/theme/theme-base/_components.scss 79:13                  @import\a   public/theme/theme-dim/purple/theme.scss 19:9                   root stylesheet";
}
