/* Error: Undefined variable.
 *    ,
 * 15 |         border-radius: $dockItemBorderRadius;
 *    |                        ^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   public/theme/theme-base/components/menu/_dock.scss 15:18  @import
 *   public/theme/theme-base/_components.scss 80:13            @import
 *   public/theme/theme-dim/teal/theme.scss 22:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 15 \2502          border-radius: $dockItemBorderRadius;\a    \2502                         ^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   public/theme/theme-base/components/menu/_dock.scss 15:18  @import\a   public/theme/theme-base/_components.scss 80:13            @import\a   public/theme/theme-dim/teal/theme.scss 22:9               root stylesheet";
}
