/* Error: Undefined variable.
 *    ,
 * 87 |                     background: $highlightFocusBg;
 *    |                                 ^^^^^^^^^^^^^^^^^
 *    '
 *   public/theme/theme-base/components/input/_cascadeselect.scss 87:33  @import
 *   public/theme/theme-base/_components.scss 12:13                      @import
 *   public/theme/theme-dim/pink/theme.scss 12:9                         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 87 \2502                      background: $highlightFocusBg;\a    \2502                                  ^^^^^^^^^^^^^^^^^\a    \2575 \a   public/theme/theme-base/components/input/_cascadeselect.scss 87:33  @import\a   public/theme/theme-base/_components.scss 12:13                      @import\a   public/theme/theme-dim/pink/theme.scss 12:9                         root stylesheet";
}
